.action-buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-buttons button {
    font-size: 30px;
    border: none;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
}

.prepare-btn {
    color: rgb(192, 125, 0);
}

.complete-btn {
    color: green;
}

.cancel-btn {
    color: rgb(185, 0, 0);
}

.show-inactive button {
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    color: rgb(139, 16, 0);
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease;
}

.show-inactive button:hover {
    background-color: rgb(139, 16, 0);
    color: #F0F0F0;
}

.orders-table thead th {
    padding-top: 12px;
}

.orders-table thead tr {
    background-color: rgb(185, 185, 185);
    height: 40px;
    font-weight: 700;
    text-align: center;
}

.orders-table tbody tr {
    background-color: #eeeeee;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.orders-table tbody tr:last-child {
    border-bottom: none;
}

.orders-table tbody td {
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}

.orders-table tbody td li {
    line-height: 25px;
}

.orders-table {
    width: 100%;
    max-width: 700px;
}

.table-container {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    overflow: hidden;
}

.show-inactive {
    width: 100%;
    display: flex;
    max-width: 700px;
}

.status-cancelled, .status-completed {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: table-row;
}

.orders-container {
    min-height: calc(100vh - 202px);
}

@media(max-width: 768px) {
    .orders-table td, .orders-table th {
        padding: .55rem;
    }
}

@media (max-width: 576px) {
    .orders-container {
        min-height: calc(100vh - 182px);
    }

    .orders-table thead th:nth-child(5),
    .orders-table tbody td:nth-child(5),
    .last-columns {
        display: none;
    }

    .show-inactive {
        display: none;
    }

    .table-container {
        margin-top: 20px;
        width: 100%;
    }

    .orders-container {
        padding: 20px 0;
    }
}