.orders-container {
    min-height: calc(100vh - 202px);
}

.show-inactive {
    width: 100%;
    max-width: 700px;
    display: flex;
}

.show-inactive button {
    color: #8b1000;
    font-weight: 700;
    font-size: 1.6rem;
    width: 150px;
    height: 40px;
    margin: 0 0 15px 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

.show-inactive button:hover {
    background-color: #8b1000;
    color: #f0f0f0;
}

.table-container {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    overflow: hidden;
}

.orders-table {
    width: 100%;
    max-width: 700px;
}

.orders-table thead th {
    padding-top: 12px;
}

.orders-table thead tr {
    background-color: #b9b9b9;
    font-weight: 700;
    text-align: center;
    height: 40px;
}

.orders-table tbody tr {
    background-color: #eeeeee;
    border-bottom: 1px solid #494949;
}

.orders-table tbody tr:last-child {
    border-bottom: none;
}

.orders-table tbody td {
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}

.orders-table tbody td li {
    line-height: 2.5rem;
}

.action-buttons {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    font-size: 3rem;
    background-color: #ececec;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
}

.prepare-btn {
    color: #c07d00;
}

.complete-btn {
    color: #008000;
}

.cancel-btn {
    color: #b90000;
}

.status-cancelled,
.status-completed {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: table-row;
}

@media (max-width: 768px) {
    .orders-table td,
    .orders-table th {
        padding: 0.55rem;
    }
}

@media (max-width: 576px) {
    .orders-container {
        min-height: calc(100vh - 182px);
        padding: 20px 0;
    }

    .show-inactive {
        display: none;
    }

    .table-container {
        margin-top: 20px;
        width: 100%;
    }

    .orders-table thead th:nth-child(5),
    .orders-table tbody td:nth-child(5),
    .last-columns {
        display: none;
    }
}
