.main-banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    max-width: 1440px;
    width: 80%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.main-banner h2 {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
}

.pizza-form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.pizza-form label {
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0;
}

.pizza-form select {
    font-size: 16px;
    margin-bottom: 10px;
    height: 35px;
}

.pizza-form select[multiple] {
    height: 100px;
    padding: 8px;
}

.pizza-form input {
    background-color: #007bff;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.pizza-form input:hover {
    background-color: #0053ac;
}

@media (max-width: 768px) {
    .main-banner h2 {
        padding: 20px;
        width: 300px;
    }
}

@media (max-width: 576px) {
    .main-banner {
        height: 200px;
        width: 90%;
    }

    .main-banner h2 {
        font-size: 30px;
        line-height: 40px;
        width: 250px;
    }

    .pizza-form label {
        font-size: 16px;
    }

    .pizza-form input {
        font-size: 18px;
    }
}
