* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 32px;
}

a {
    text-decoration: none;
}

button,
input[type="submit"] {
    border: none;
    cursor: pointer;
}

header {
    background-color: #000000;
    height: 82px;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo img {
    width: 130px;
}

nav {
    font-weight: 700;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    color: #ffffff;
    text-align: center;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c54747;
}

.menu-space {
    background-color: #ffffff;
    height: 25px;
    width: 3px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container,
.orders-container {
    background-color: #e5e5e5;
    max-width: 1440px;
    width: 80%;
    margin: 40px 0;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container h2,
.orders-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.alert {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 2px solid #155724;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border: 2px solid #856404;
}

@media (max-width: 768px) {
    .nav-link {
        padding: 0;
        text-align: center;
    }

    .nav-link:first-child {
        margin-right: 35px;
    }

    .main-container,
    .orders-container {
        margin: 20px 0;
        width: 90%;
    }
}

@media (max-width: 576px) {
    header {
        gap: 10px;
    }

    .nav-link {
        font-size: 14px;
    }

    .logo img {
        width: 100px;
    }

    .main-container h2,
    .orders-container h2 {
        font-size: 28px;
    }

    footer {
        height: 100px;
    }
}
